{{ govukCheckboxes({
  idPrefix: "bfpo",
  name: "bfpo",
  items: [
    {
        value: "bfpo",
        text: "I have a British Forces Post Office address",

        checked: checked('bfpo')
    }
  ]
}) }}

{{ govukInput({
        label: {
            text: "Building and street"
        },
        id: "address_line_1",
        name: "address_line_1"
        }) }}

{{ govukInput({
  label: {
     html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
   },
    id: "address_line_2",
    name: "address_line_2"
    }) }}

{{ govukInput({
    label: {
        text: "Town or city"
    },
    id: "address_line_3",
    name: "address_line_3"
    }) }}

{{ govukInput({
    label: {
        text: "County or state"
    },
    id: "county_or_state",
    name: "county_or_state",
    classes: "govuk-input--width-10"
    }) }}

{{ govukInput({
    label: {
        text: "Postcode or zipcode"
    },
    id: "postcode",
    name: "postcode",
    classes: "govuk-input--width-5"
    }) }}


    {% include "../includes/countries-select.html" %}
