<ol class="apply-step-nav__steps" data-show-text="show" data-hide-text="hide" data-show-all-text="Show all"
    data-hide-all-text="Hide all">
    <li class="apply-step-nav__step js-step step-nav__step--active step-is-shown" id="get-the-tv-ready-small"
        data-track-count="stepNavSection">
        <div class="apply-step-nav__header js-toggle-panel" data-position="1">
            <h2 class="apply-step-nav__title">
                <span class="apply-step-nav__circle apply-step-nav__circle--number">
                    <span class="apply-step-nav__circle-inner">
                        <span class="apply-step-nav__circle-background">
                            <span class="apply-step-nav__circle-step-label visuallyhidden">Step</span> 1<span class="apply-step-nav__circle-step-colon visuallyhidden"
                                aria-hidden="true">:</span>
                        </span>
                    </span>
                </span>

                <span class="js-step-title"><button class="apply-step-nav__button apply-step-nav__button--title js-step-title-button"
                        aria-expanded="false" aria-controls="step-panel-get-the-tv-ready-small-1"><span class="js-step-title-text">
                            Before you start
                        </span><span class="apply-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span></button></span>
            </h2>
        </div>

        <div class="apply-step-nav__panel js-panel js-hidden" id="step-panel-get-the-tv-ready-small-1">
            <p class="apply-step-nav__paragraph">Configure the television so it is ready for the standup. You will also
                need a laptop.</p>

            <ol class="apply-step-nav__list " data-length="1">
                <li class="apply-step-nav__list-item js-list-item "><a rel="external" data-position="1.1" class="apply-step-nav__link js-link"
                        href="https://en.wikipedia.org/wiki/HDMI">Remove the Chromebit from HDMI 1 on the TV </a></li>
            </ol>

        </div>

    </li>
    <li class="apply-step-nav__step js-step step-nav__step--active" aria-current="step" id="plug-everything-in-small"
        data-track-count="stepNavSection">
        <div class="apply-step-nav__header js-toggle-panel" data-position="2">
            <h2 class="apply-step-nav__title">
                {# <span class="apply-step-nav__circle apply-step-nav__circle--logic">
                    <span class="apply-step-nav__circle-inner">
                        <span class="apply-step-nav__circle-background">
                            and
                        </span>
                    </span>
                </span> #}
                <span class="apply-step-nav__circle apply-step-nav__circle--number">
                    <span class="apply-step-nav__circle-inner">
                        <span class="apply-step-nav__circle-background">
                            <span class="apply-step-nav__circle-step-label visuallyhidden">Step</span> 2<span class="apply-step-nav__circle-step-colon visuallyhidden"
                                aria-hidden="true">:</span>
                        </span>
                    </span>
                </span>

                <span class="js-step-title"><button class="apply-step-nav__button apply-step-nav__button--title js-step-title-button"
                        aria-expanded="false" aria-controls="step-panel-plug-everything-in-small-2"><span class="js-step-title-text">
                            Apply to your training provider
                        </span><span class="apply-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span></button></span>
            </h2>
        </div>

        <div class="apply-step-nav__panel js-panel js-hidden" id="step-panel-plug-everything-in-small-2">
            <p class="apply-step-nav__paragraph">Connect the relevant cables between the various devices.</p>

            <ol class="apply-step-nav__list " data-length="2">
                <li class="apply-step-nav__list-item js-list-item "><a rel="external" data-position="2.1" class="apply-step-nav__link js-link"
                        href="https://www.google.co.uk/">Run the HDMI - MINI DVI cable from the TV to the facilitators
                        laptop </a></li>
                <li class="apply-step-nav__list-item js-list-item "><a rel="external" data-position="2.2" class="apply-step-nav__link js-link"
                        href="https://www.jabra.co.uk/">Plug the Jabra into the facilitators laptop </a></li>
            </ol>

        </div>

    </li>
    <li class="apply-step-nav__step js-step gem-c" id="configure-the-catchbox-small" data-track-count="stepNavSection">
        <div class="apply-step-nav__header js-toggle-panel" data-position="3">
            <h2 class="apply-step-nav__title">
                <span class="apply-step-nav__circle apply-step-nav__circle--number">
                    <span class="apply-step-nav__circle-inner">
                        <span class="apply-step-nav__circle-background">
                            <span class="apply-step-nav__circle-step-label visuallyhidden">Step</span> 3<span class="apply-step-nav__circle-step-colon visuallyhidden"
                                aria-hidden="true">:</span>
                        </span>
                    </span>
                </span>

                <span class="js-step-title"><button class="apply-step-nav__button apply-step-nav__button--title js-step-title-button"
                        aria-expanded="false" aria-controls="step-panel-configure-the-catchbox-small-3"><span class="js-step-title-text">
                            Invitation for interview
                        </span><span class="apply-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span></button></span>
            </h2>
        </div>

        <div class="apply-step-nav__panel js-panel js-hidden" id="step-panel-configure-the-catchbox-small-3">
            <p class="apply-step-nav__paragraph">These steps are required.</p>

            <ol class="apply-step-nav__list " data-length="6">
                <li class="apply-step-nav__list-item js-list-item "><a rel="external" data-position="3.1" class="apply-step-nav__link js-link"
                        href="http://www.google.com">Ensure the catchbox transmitter is plugged in at the mains wall
                    </a></li>
                <li class="apply-step-nav__list-item js-list-item "><a rel="external" data-position="3.2" class="apply-step-nav__link js-link"
                        href="http://www.google.com">Turn on the transmitter and wait for the switch to blink green </a></li>
                <li class="apply-step-nav__list-item js-list-item apply-step-nav__list-item--active"><a data-position="3.3"
                        class="apply-step-nav__link js-link" href="#content">
                        {# <span class="apply-step-nav__link-active-context visuallyhidden">You are currently viewing:
                        </span> #}
                        Plug the transmitter USB cable into the facilitators laptop </a></li>
                <li class="apply-step-nav__list-item js-list-item "><a rel="external" data-position="3.4" class="apply-step-nav__link js-link"
                        href="http://www.google.com">Twist and pull the black piece of foam out of the catchbox </a></li>
                <li class="apply-step-nav__list-item js-list-item "><a rel="external" data-position="3.5" class="apply-step-nav__link js-link"
                        href="http://www.google.com">Turn on the catchbox and wait for the LED to turn green </a></li>
                <li class="apply-step-nav__list-item js-list-item "><a rel="external" data-position="3.6" class="apply-step-nav__link js-link"
                        href="http://www.google.com">Wait for the transmitter light to turn solid green </a></li>
            </ol>



        </div>

    </li>
    <li class="apply-step-nav__step js-step" id="join-and-configure-the-standup-small" data-track-count="stepNavSection">
        <div class="apply-step-nav__header js-toggle-panel" data-position="4">
            <h2 class="apply-step-nav__title">
                <span class="apply-step-nav__circle apply-step-nav__circle--number">
                    <span class="apply-step-nav__circle-inner">
                        <span class="apply-step-nav__circle-background">
                            <span class="apply-step-nav__circle-step-label visuallyhidden">Step</span> 4<span class="apply-step-nav__circle-step-colon visuallyhidden"
                                aria-hidden="true">:</span>
                        </span>
                    </span>
                </span>

                <span class="js-step-title"><button class="apply-step-nav__button apply-step-nav__button--title js-step-title-button"
                        aria-expanded="false" aria-controls="step-panel-join-and-configure-the-standup-small-4"><span
                            class="js-step-title-text">
                            Conditional place offered

                        </span><span class="apply-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span></button></span>
            </h2>
        </div>

        <div class="apply-step-nav__panel js-panel js-hidden" id="step-panel-join-and-configure-the-standup-small-4">
            <p class="apply-step-nav__paragraph">Join the hangout and present to those on it.</p>

            <ol class="apply-step-nav__list " data-length="3">
                <li class="apply-step-nav__list-item js-list-item "><a rel="external" data-position="4.1" class="apply-step-nav__link js-link"
                        href="http://www.google.com">Connect to standup hangout via the calendar invite </a></li>
                <li class="apply-step-nav__list-item js-list-item ">or</li>
                <li class="apply-step-nav__list-item js-list-item "><a rel="external" data-position="4.2" class="apply-step-nav__link js-link"
                        href="http://www.google.com">Connect to standup hangout via the link in the team slack </a></li>
            </ol>

            <p class="apply-step-nav__paragraph">then</p>

            <ol class="apply-step-nav__list " data-length="4">
                <li class="apply-step-nav__list-item js-list-item "><a rel="external" data-position="4.4" class="apply-step-nav__link js-link"
                        href="http://www.google.com">Click the three dots in the bottom hand corner to open settings
                    </a></li>
                <li class="apply-step-nav__list-item js-list-item "><a rel="external" data-position="4.5" class="apply-step-nav__link js-link"
                        href="http://www.google.com">Set speaker to "Jabra" </a></li>
                <li class="apply-step-nav__list-item js-list-item "><a rel="external" data-position="4.6" class="apply-step-nav__link js-link"
                        href="http://www.google.com">Set microphone to "C Media USB" </a></li>
                <li class="apply-step-nav__list-item js-list-item "><a rel="external" data-position="4.7" class="apply-step-nav__link js-link"
                        href="http://www.google.com">Click "present to meeting" </a></li>
            </ol>

        </div>

    </li>
    <li class="apply-step-nav__step js-step" id="clear-up-small" data-track-count="stepNavSection">
        <div class="apply-step-nav__header js-toggle-panel" data-position="5">
            <h2 class="apply-step-nav__title">
                <span class="apply-step-nav__circle apply-step-nav__circle--number">
                    <span class="apply-step-nav__circle-inner">
                        <span class="apply-step-nav__circle-background">
                            <span class="apply-step-nav__circle-step-label visuallyhidden">Step</span> 5<span class="apply-step-nav__circle-step-colon visuallyhidden"
                                aria-hidden="true">:</span>
                        </span>
                    </span>
                </span>

                <span class="js-step-title"><button class="apply-step-nav__button apply-step-nav__button--title js-step-title-button"
                        aria-expanded="false" aria-controls="step-panel-clear-up-small-5"><span class="js-step-title-text">
                            Meet your conditions
                        </span><span class="apply-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span></button></span>
            </h2>
        </div>

        <div class="apply-step-nav__panel js-panel js-hidden" id="step-panel-clear-up-small-5">
            <p class="apply-step-nav__paragraph">Disconnect from the hangout and disconnect any cables.</p>

            <p class="apply-step-nav__paragraph">Most importantly, remember to switch off the catchbox to save the
                battery.</p>

        </div>

    </li>
    <li class="apply-step-nav__step js-step" id="get-someone-else-to-clear-up-small" data-track-count="stepNavSection"
        data-optional="">
        <div class="apply-step-nav__header js-toggle-panel" data-position="6">
            <h2 class="apply-step-nav__title">

                <span class="apply-step-nav__circle apply-step-nav__circle--number">
                    <span class="apply-step-nav__circle-inner">
                        <span class="apply-step-nav__circle-background">
                            <span class="apply-step-nav__circle-step-label visuallyhidden">Step</span> 6<span class="apply-step-nav__circle-step-colon visuallyhidden"
                                aria-hidden="true">:</span>
                        </span>
                    </span>
                </span>

                <span class="js-step-title"><button class="apply-step-nav__button apply-step-nav__button--title js-step-title-button"
                        aria-expanded="false" aria-controls="step-panel-get-someone-else-to-clear-up-small-6"><span
                            class="js-step-title-text">
                            Start your course
                        </span><span class="apply-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">show</span></button></span>
            </h2>
        </div>

        <div class="apply-step-nav__panel js-panel js-hidden" id="step-panel-get-someone-else-to-clear-up-small-6">
            <p class="apply-step-nav__paragraph">Schedule another meeting for right after the standup and force someone
                else to sort everything out.</p>

        </div>

    </li>
</ol>