<div class="govuk-form-group">
  <label class="govuk-label" for="areas"></label>
        <div id="areas-container" class="autocomplete-wrapper">
            <select id="areas" class="govuk-select">
                <option value="" disabled selected>Select borough, district or county</option>
                <option value="0','Aberdeen">Aberdeen</option>
                <option value="1','Aberdeenshire">Aberdeenshire</option>
                <option value="5','Alderney">Alderney</option>
                <option value="11','Angus">Angus</option>
                <option value="14','Argyll & Bute">Argyll &amp; Bute</option>
                <option value="24','Barking and Dagenham">Barking and Dagenham</option>
                <option value="25','Barnet">Barnet</option>
                <option value="26','Barnsley">Barnsley</option>
                <option value="27','Bath and North East Somerset">Bath and North East Somerset</option>
                <option value="28','Bedfordshire">Bedfordshire</option>
                <option value="30','Belfast">Belfast</option>
                <option value="35','Bexley">Bexley</option>
                <option value="37','Birmingham">Birmingham</option>
                <option value="38','Blackburn with Darwen">Blackburn with Darwen</option>
                <option value="39','Blackpool">Blackpool</option>
                <option value="40','Blaenau Gwent">Blaenau Gwent</option>
                <option value="42','Bolton">Bolton</option>
                <option value="46','Bournemouth">Bournemouth</option>
                <option value="47','Bracknell Forest">Bracknell Forest</option>
                <option value="48','Bradford">Bradford</option>
                <option value="50','Brent">Brent</option>
                <option value="51','Bridgend">Bridgend</option>
                <option value="52','Brighton and Hove">Brighton and Hove</option>
                <option value="53','Bristol">Bristol</option>
                <option value="57','Bromley">Bromley</option>
                <option value="59','Buckinghamshire">Buckinghamshire</option>
                <option value="64','Bury">Bury</option>
                <option value="65','Caerphilly">Caerphilly</option>
                <option value="66','Calderdale">Calderdale</option>
                <option value="68','Cambridgeshire">Cambridgeshire</option>
                <option value="69','Camden">Camden</option>
                <option value="74','Cardiff">Cardiff</option>
                <option value="75','Carmarthenshire">Carmarthenshire</option>
                <option value="78','Ceredigion">Ceredigion</option>
                <option value="80','Cheshire">Cheshire</option>
                <option value="84','City of London">City of London</option>
                <option value="85','Clackmannanshire">Clackmannanshire</option>
                <option value="91','Conwy">Conwy</option>
                <option value="93','Cornwall">Cornwall</option>
                <option value="95','County Antrim">County Antrim</option>
                <option value="96','County Armagh">County Armagh</option>
                <option value="97','County Down">County Down</option>
                <option value="98','County Fermanagh">County Fermanagh</option>
                <option value="99','County Londonderry">County Londonderry</option>
                <option value="100','County Tyrone">County Tyrone</option>
                <option value="101','Coventry">Coventry</option>
                <option value="103','Croydon">Croydon</option>
                <option value="105','Cumbria">Cumbria</option>
                <option value="111','Darlington">Darlington</option>
                <option value="112','Denbighshire">Denbighshire</option>
                <option value="114','Derby">Derby</option>
                <option value="115','Derbyshire">Derbyshire</option>
                <option value="116','Devon">Devon</option>
                <option value="120','Doncaster">Doncaster</option>
                <option value="121','Dorset">Dorset</option>
                <option value="122','Dudley">Dudley</option>
                <option value="123','Dumfries & Galloway">Dumfries &amp; Galloway</option>
                <option value="124','Dundee">Dundee</option>
                <option value="125','Durham">Durham</option>
                <option value="126','Ealing">Ealing</option>
                <option value="127','East Ayrshire">East Ayrshire</option>
                <option value="128','East Dunbartonshire">East Dunbartonshire</option>
                <option value="129','East Lothian">East Lothian</option>
                <option value="130','East Renfrewshire">East Renfrewshire</option>
                <option value="131','East Riding of Yorkshire">East Riding of Yorkshire</option>
                <option value="132','East Sussex">East Sussex</option>
                <option value="135','Edinburgh">Edinburgh</option>
                <option value="138','Enfield">Enfield</option>
                <option value="141','Essex">Essex</option>
                <option value="144','Falkirk">Falkirk</option>
                <option value="147','Fife">Fife</option>
                <option value="150','Flintshire">Flintshire</option>
                <option value="157','Gateshead">Gateshead</option>
                <option value="162','Glasgow">Glasgow</option>
                <option value="163','Gloucestershire">Gloucestershire</option>
                <option value="166','Greenwich">Greenwich</option>
                <option value="170','Guernsey">Guernsey</option>
                <option value="174','Gwynedd">Gwynedd</option>
                <option value="175','Hackney">Hackney</option>
                <option value="177','Halton">Halton</option>
                <option value="178','Hammersmith and Fulham">Hammersmith and Fulham</option>
                <option value="179','Hampshire">Hampshire</option>
                <option value="180','Haringey">Haringey</option>
                <option value="181','Harrow">Harrow</option>
                <option value="182','Hartlepool">Hartlepool</option>
                <option value="183','Havering">Havering</option>
                <option value="184','Herefordshire">Herefordshire</option>
                <option value="185','Hertfordshire">Hertfordshire</option>
                <option value="186','Highland">Highland</option>
                <option value="187','Hillingdon">Hillingdon</option>
                <option value="190','Hounslow">Hounslow</option>
                <option value="195','Inverclyde">Inverclyde</option>
                <option value="199','Isle of Anglesey">Isle of Anglesey</option>
                <option value="200','Isle of Man">Isle of Man</option>
                <option value="201','Isle of Wight">Isle of Wight</option>
                <option value="202','Isles of Scilly">Isles of Scilly</option>
                <option value="203','Islington">Islington</option>
                <option value="209','Jersey">Jersey</option>
                <option value="212','Kensington and Chelsea">Kensington and Chelsea</option>
                <option value="213','Kent">Kent</option>
                <option value="215','Kingston upon Hull">Kingston upon Hull</option>
                <option value="216','Kingston upon Thames">Kingston upon Thames</option>
                <option value="218','Kirklees">Kirklees</option>
                <option value="219','Knowsley">Knowsley</option>
                <option value="225','Lambeth">Lambeth</option>
                <option value="226','Lancashire">Lancashire</option>
                <option value="230','Leeds">Leeds</option>
                <option value="231','Leicester">Leicester</option>
                <option value="232','Leicestershire">Leicestershire</option>
                <option value="234','Lewisham">Lewisham</option>
                <option value="238','Lincolnshire">Lincolnshire</option>
                <option value="240','Liverpool">Liverpool</option>
                <option value="241','Luton">Luton</option>
                <option value="251','Manchester">Manchester</option>
                <option value="257','Medway">Medway</option>
                <option value="258','Merthyr Tydfil">Merthyr Tydfil</option>
                <option value="259','Merton">Merton</option>
                <option value="262','Middlesbrough">Middlesbrough</option>
                <option value="263','Midlothian">Midlothian</option>
                <option value="264','Milton Keynes">Milton Keynes</option>
                <option value="268','Monmouthshire">Monmouthshire</option>
                <option value="271','Moray">Moray</option>
                <option value="276','Neath Port Talbot">Neath Port Talbot</option>
                <option value="283','Newcastle upon Tyne">Newcastle upon Tyne</option>
                <option value="284','Newham">Newham</option>
                <option value="285','Newport">Newport</option>
                <option value="290','Norfolk">Norfolk</option>
                <option value="292','North Ayrshire">North Ayrshire</option>
                <option value="293','North East Lincolnshire">North East Lincolnshire</option>
                <option value="294','North Lanarkshire">North Lanarkshire</option>
                <option value="295','North Lincolnshire">North Lincolnshire</option>
                <option value="296','North Somerset">North Somerset</option>
                <option value="297','North Tyneside">North Tyneside</option>
                <option value="298','North Yorkshire">North Yorkshire</option>
                <option value="299','Northamptonshire">Northamptonshire</option>
                <option value="301','Northumberland">Northumberland</option>
                <option value="304','Nottingham">Nottingham</option>
                <option value="305','Nottinghamshire">Nottinghamshire</option>
                <option value="306','Oldham">Oldham</option>
                <option value="308','Orkney Islands">Orkney Islands</option>
                <option value="309','Oxfordshire">Oxfordshire</option>
                <option value="316','Pembrokeshire">Pembrokeshire</option>
                <option value="317','Perthshire & Kinross">Perthshire &amp; Kinross</option>
                <option value="319','Peterborough">Peterborough</option>
                <option value="322','Plymouth">Plymouth</option>
                <option value="324','Poole">Poole</option>
                <option value="325','Portsmouth">Portsmouth</option>
                <option value="327','Powys">Powys</option>
                <option value="330','Reading">Reading</option>
                <option value="331','Redbridge">Redbridge</option>
                <option value="332','Redcar and Cleveland">Redcar and Cleveland</option>
                <option value="333','Renfrewshire">Renfrewshire</option>
                <option value="335','Rhondda, Cynon, Taff">Rhondda, Cynon, Taff</option>
                <option value="336','Richmond upon Thames">Richmond upon Thames</option>
                <option value="337','Rochdale">Rochdale</option>
                <option value="339','Rotherham">Rotherham</option>
                <option value="341','Rutland">Rutland</option>
                <option value="343','Salford">Salford</option>
                <option value="346','Sandwell">Sandwell</option>
                <option value="349','Scottish Borders">Scottish Borders</option>
                <option value="350','Sefton">Sefton</option>
                <option value="354','Sheffield">Sheffield</option>
                <option value="355','Shetland Islands">Shetland Islands</option>
                <option value="356','Shropshire">Shropshire</option>
                <option value="360','Slough">Slough</option>
                <option value="363','Solihull">Solihull</option>
                <option value="366','Somerset">Somerset</option>
                <option value="368','South Ayrshire">South Ayrshire</option>
                <option value="370','South Gloucestershire">South Gloucestershire</option>
                <option value="371','South Lanarkshire">South Lanarkshire</option>
                <option value="373','South Tyneside">South Tyneside</option>
                <option value="374','Southampton">Southampton</option>
                <option value="375','Southend on Sea">Southend on Sea</option>
                <option value="376','Southwark">Southwark</option>
                <option value="384','St.Helens">St.Helens</option>
                <option value="385','Staffordshire">Staffordshire</option>
                <option value="387','Stirling">Stirling</option>
                <option value="388','Stockport">Stockport</option>
                <option value="389','Stockton-on-Tees">Stockton-on-Tees</option>
                <option value="390','Stoke-on-Trent">Stoke-on-Trent</option>
                <option value="392','Suffolk">Suffolk</option>
                <option value="393','Sunderland">Sunderland</option>
                <option value="395','Surrey">Surrey</option>
                <option value="396','Sutton">Sutton</option>
                <option value="398','Swansea">Swansea</option>
                <option value="401','Swindon">Swindon</option>
                <option value="406','Tameside">Tameside</option>
                <option value="408','Telford and Wrekin">Telford and Wrekin</option>
                <option value="410','The Royal Borough of Windsor, Maidenhead and Berkshire">The Royal Borough of Windsor, Maidenhead and Berkshire</option>
                <option value="411','Thurrock">Thurrock</option>
                <option value="415','Torbay">Torbay</option>
                <option value="416','Torfaen">Torfaen</option>
                <option value="417','Tower Hamlets">Tower Hamlets</option>
                <option value="418','Trafford">Trafford</option>
                <option value="433','Vale of Glamorgan">Vale of Glamorgan</option>
                <option value="439','Wakefield">Wakefield</option>
                <option value="441','Walsall">Walsall</option>
                <option value="442','Waltham Forest">Waltham Forest</option>
                <option value="443','Wandsworth">Wandsworth</option>
                <option value="444','Warrington">Warrington</option>
                <option value="445','Warwickshire">Warwickshire</option>
                <option value="446','West Berkshire">West Berkshire</option>
                <option value="447','West Dunbartonshire">West Dunbartonshire</option>
                <option value="448','West Lothian">West Lothian</option>
                <option value="449','West Sussex">West Sussex</option>
                <option value="450','Western Isles">Western Isles</option>
                <option value="452','Westminster">Westminster</option>
                <option value="453','Wigan">Wigan</option>
                <option value="454','Wiltshire">Wiltshire</option>
                <option value="455','Wirral">Wirral</option>
                <option value="456','Wokingham">Wokingham</option>
                <option value="457','Wolverhampton">Wolverhampton</option>
                <option value="458','Worcestershire">Worcestershire</option>
                <option value="459','Wrexham">Wrexham</option>
                <option value="461','York">York</option>
        </select>
    </div>
</div>
