{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

    {{ govukBreadcrumbs({
        items: [
        {
          text: "Your application",
          href: "/your-application"
        },
        {
          text: "Contact details"
        },
        {
          text: "Correspondence"
        }
        ]
    }) }}

{% endblock %}

{% block content %}

{% set addressFields %}

    {% include "includes/address-fields.html" %}

{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">
        Contact details
      </span>
      What is correspondence your address?
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/contact-details/correspondence" method="post" class="form">
            {{ govukRadios({
                idPrefix: "correspondence-where-do-you-live",
                name: "correspondence-where-do-you-live",
                items: [
                    {
                    value: "correspondence_uk",
                    text: "UK"
                    },
                    {
                    value: "correspondence_international",
                    text: "Outside the UK"
                    },
                    {
                    value: "correspondence_bfpo",
                    text: "I have a British Forces Post Office address"
                    }
                ]
                }) }}

            {{ govukButton({
                text: "Save and continue"
                }) }}
    </form>
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "includes/aside-logged-in.html" %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h3 class="govuk-heading-s">Guidance and links</h3>
    <p><a href="guidance">Guidance to support this service </a></p>
  </div>
</div>
</div>

{% endblock %}
