{# <p>You are applying to study:</p>
    <h3 class="govuk-heading-m">
      English with Prendergast School
      <span class="govuk-caption-m">
        Accredited provider: King's College London (University of London)
      </span>
    </h3>

    <div>
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Course offered
          </dt>
          <dd class="app-check-your-answers__answer">
            PGCE with QTS full time
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Financial support
          </dt>
          <dd class="app-check-your-answers__answer">
            Bursary or student finance if you’re eligible
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Qualification
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ govukDetails({
                summaryText: "PGCE with QTS",
                text: "A postgraduate certificate in education (PGCE) with qualified teacher status (QTS) allows you to
                teach in England, Scotland, Wales and Northern Ireland. It’s also recognised internationally."
              }) }}
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Date you can apply from
          </dt>
          <dd class="app-check-your-answers__answer">9 October 2018</dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Date course starts
          </dt>
          <dd class="app-check-your-answers__answer">September 2019</dd>
        </div>
      </dl>
    </div> #}