{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }} 
      <span class="govuk-caption-xl">
        Use this service to apply for postgraduate teacher training in England.
      </span>
    </h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukInsetText({
        text: "The step-by-step summary tells you what to expect on your journey and gives you the information you need."
      }) }}
  
    {{ govukButton({
        text: "Apply"
      }) }}
    

  </div>
  <div class="govuk-grid-column-one-third">
    {% include "includes/journey.html" %}
  </div>
</div>
</div>

{% endblock %}