{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

    {{ govukBreadcrumbs({
        items: [
        {
          text: "Your application",
          href: "/your-application"
        },
        {
          text: "Eligibility and qualifications",
          href: "/education-and-qualifications/overview"
        },
        {
          text: "Add another qualification"
        }
        ]
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">
        Eligibility and qualifications
      </span>
      Add another qualification
    </h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>Include your other GCSEs, your A levels and any other type of qualification you think strengthens your application. <br> Enter international qualifications as they appear on your certificate. <br> You’ll be able to check all your entries when you’ve finished. </p>
    <form action="/education-and-qualifications/overview" method="post" class="form">

                {% call govukFieldset({

                    }) %}



                    {{ govukInput({
                        label: {
                            text: "Type of qualification"
                        },
                            classes: "govuk-!-width-two-thirds",
                            id: "another-other-type-of-qualification",
                            name: "another-other-type-of-qualification"
                            }) }}

                    {{ govukInput({
                        label: {
                            text: "Subject"
                        },
                            classes: "govuk-!-width-two-thirds",
                            id: "another-other-subject",
                            name: "another-other-subject"
                            }) }}

                    {{ govukInput({
                        label: {
                            text: "Awarding organisation"
                        },
                            classes: "govuk-!-width-two-thirds",
                            id: "another-other-awarding-organisation",
                            name: "another-other-awarding-organisation"
                            }) }}


                         {{ govukInput({
                            label: {
                                text: "Grade"
                            },
                            classes: "govuk-!-width-one-third",
                            id: "another-other-grade",
                            name: "another-other-grade"
                            }) }}

                        {{ govukInput({
                            label: {
                                text: "Year grade was awarded"
                            },
                            classes: "govuk-input--width-4",
                            id: "another-other-date",
                            name: "another-other-date"
                            }) }}

                {% endcall %}

        {{ govukButton({
            text: "Save and add another degree",
            classes: "apply-add"
            }) }}

        {{ govukButton({
            text: "Save and continue",
            href: "/education-and-qualifications/overview"
            }) }}
    </form>
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "includes/aside-logged-in.html" %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h3 class="govuk-heading-s">Guidance and links</h3>
    <p><a href="guidance">Guidance to support this service </a></p>
  </div>
</div>
</div>

{% endblock %}
