{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

    {{ govukBreadcrumbs({
        items: [
        {
          text: "Your application",
          href: "/your-application"
        },
        {
          text: "Eligibility and qualifications"
        },
        {
          text: "Enter degree"
        }
        ]
    }) }}

{% endblock %}

{% block content %}

{% set outsideUKreveal %}
    <p>Enter your degree details as they appear on your certificate and contact your training provider to check your qualification is recognised. <a href="https://www.naric.org.uk/naric/Individuals/Default.aspx">UK NARIC</a> may also be able to help with validation.  </p>
{% endset %}

{% set otherQualification %}
    {{ govukInput({
        label: {
            text: "Other qualification"
        },
        id: "other-qualification-detail",
        name: "other-qualification-detail"
        }) }}
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">
        Eligibility and qualifications
      </span>
      Enter degree
      <p>
    </h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="gcse-or-equivalent" method="post" class="form">

            <p>Enter your degree details as they appear on your certificate and contact your training provider to check your qualification is recognised. <br> <a href="https://www.naric.org.uk/naric/Individuals/Default.aspx">UK NARIC</a> may also be able to help with validation. </p>

            {% call govukFieldset({
                }) %}

                {{ govukInput({
                    label: {
                        text: "Name of your university or college"
                    },
                    classes: "govuk-!-width-three-quarters",
                    id: "education-international-degree-type",
                    name: "education-international-degree-type"
                    }) }}

                {{ govukInput({
                    label: {
                        text: "Degree type"
                    },
                    hint: {
                        text: "For example, BA, BSc, Masters, Phd, or other, please specify"
                    },
                    classes: "govuk-!-width-three-quarters",
                    id: "education-international-degree-type",
                    name: "education-international-degree-type"
                    }) }}

                {{ govukInput({
                    label: {
                        text: "Name of your course"
                      },
                      hint: {
                          text: "For example, Geography, Art and Design, Biological Sciences"
                    },
                    classes: "govuk-!-width-three-quarters",
                    id: "education-international-degree-name",
                    name: "education-international-degree-name"
                    }) }}

                {{ govukInput({
                    label: {
                        text: "Degree class"
                    },
                    hint: {
                        text: "For example, First, 2.1, 2.2, or other, please specify"
                    },
                    classes: "govuk-!-width-one-half",
                    id: "education-international-degree-class",
                    name: "education-international-degree-class"
                    }) }}


                {{ govukDateInput({
                        id: "degree-start-date",
                        namePrefix: "degree-start-date",
                        fieldset: {
                            legend: {
                            text: "Date you started your course",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--m"
                            }
                        },
                        hint: {
                            text: "For example, 10 2013"
                        },
                        items: [
                                {
                                    name: "month",
                                    value: data['degree-international-start-date-month'],
                                    classes: "govuk-input--width-2"
                                },
                                {
                                    name: "year",
                                    value: data['degree-international-start-date-year'],
                                    classes: "govuk-input--width-4"
                                }
                            ]
                        }) }}

                {{ govukDateInput({
                        id: "degree-results-date",
                        namePrefix: "degree-results-date",
                        fieldset: {
                            legend: {
                            text: "Date of your results",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--m"
                            }
                        },
                        hint: {
                            text: "For example, 6 2016"
                        },
                        items: [
                                {
                                    name: "month",
                                    value: data['degree-international-results-date-month'],
                                    classes: "govuk-input--width-2"
                                },
                                {
                                    name: "year",
                                    value: data['degree-international-results-date-year'],
                                    classes: "govuk-input--width-4"
                                }
                            ]
                        }) }}

            {% endcall %}


        {{ govukButton({
            text: "Save and continue"
            }) }}
    </form>
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "includes/aside-logged-in.html" %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h3 class="govuk-heading-s">Guidance and links</h3>
    <p><a href="guidance">Guidance to support this service </a></p>
  </div>
</div>
</div>

{% endblock %}
