{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

    {{ govukBreadcrumbs({
        items: [
        {
          text: "Your application",
          href: "/your-application"
        },
        {
          text: "Education and qualifications"
        }
        ]
    }) }}

{% endblock %}

{% block content %}

{% set noGCSEreveal %}
    <p>You can also be accepted onto a course if you have older qualifications like O levels or international qualifications equivalent to GCSEs.</p>
    <p>If you don’t have the right GCSE or its equivalent yet:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>contact your training provider for advice about getting the right qualification in time for your course</li>
        <li>ask if your provider accepts ‘equivalency tests’ (exams which are the equivalent of an English, maths or science GCSE)</li>
        <li>top up your GCSE qualifications through the <a href="https://www.nec.ac.uk/">National Extension College</a></li>
    </ul>

{% endset %}

{% set outsideUKreveal %}
    <p>If you studied for your degree or GCSE equivalents overseas, have you checked your qualifications are recognised in the UK?</p>
    <p>When you’ve <a href="https://www.gov.uk/guidance/find-postgraduate-teacher-training-courses-in-england">chosen your course</a>, it’s worth approaching your training provider direct to get advice about validating your qualifications.</p>
    <p>You could also visit <a href="https://www.naric.org.uk/naric/Individuals/Default.aspx">UK NARIC</a> , who may be able to issue a <a href="https://www.naric.org.uk/naric/Individuals/Compare%20Qualifications/Statement%20of%20Comparability.aspx">statement of comparability</a> to show to your training provider.</p>
{% endset %}

{% set otherQualification %}
    {{ govukInput({
        label: {
            text: "Other qualification"
        },
        id: "other-qualification-detail",
        name: "other-qualification-detail"
        }) }}      
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">
        Education and qualifications
      </span>
      Eligibility
      <p>
    </h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s">To be eligible for teacher training, you need a:</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>UK degree (or international equivalent)</li>
      <li>GCSE in Maths, grade 4 (previously grade C)</li>
      <li>GCSE in English, grade 4 (previously grade C)</li>
    </ul>
    <p>To teach at primary school, you also need a minimum grade 4 GCSE in science.</p>

<p>Individual training providers may ask for further qualifications. When you’ve <a href="https://www.gov.uk/guidance/find-postgraduate-teacher-training-courses-in-england">chosen your course</a>, it’s important to check that you meet its requirements.</p>
    {{ govukDetails({
        summaryText: "I don’t have GCSEs in maths and English",
        html: noGCSEreveal
        }) }}

    {{ govukDetails({
        summaryText: "I studied for my qualifications outside the UK",
        html: outsideUKreveal
        }) }}

    {{ govukDetails({
        summaryText: "I haven't completed my degree",
        text: "If you are still studying, you can enter ‘Pending’ next to ‘Degree class’. Please note that you must have successfully graduated by the time you start your teacher training."
        }) }}
    {{ govukButton({
        text: "Continue",
        href: "/education-and-qualifications/degree-filter"
        }) }}
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "includes/aside-logged-in.html" %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h3 class="govuk-heading-s">Guidance and links</h3>
    <p><a href="guidance">Guidance to support this service </a></p>
  </div>
</div>
</div>

{% endblock %}
