{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

    {{ govukBreadcrumbs({
        items: [
        {
          text: "Your application",
          href: "/your-application"
        },
        {
          text: "Eligibility and qualifications"
        },
        {
          text: "Your qualifications"
        }
        ]
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
    <span class="govuk-caption-l">Eligibility and qualifications</span>
      Your qualifications
    </h1>

  </div>
  <div class="govuk-grid-column-one-third">
    {% include "includes/aside-logged-in.html" %}
  </div>
</div>
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>Now add the rest of your academic, vocational and professional qualifications.</p>
        <p>You also have the option to add details of course content to your degree entry. This will help your training provider understand the range of subjects you could teach.</p>
        <p>If you’re still studying for maths, science or English GCSEs, or their equivalents, you can return to this section to enter your details later. </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
        <div class="apply-qualification-list">
            <div class="apply-qualification">
                    {{ govukTable({
                            caption : "Degree",
                            captionClasses : "govuk-heading-m govuk-!-margin-bottom-0",
                            firstCellIsHeader: false,
                            head: [
                                {
                                text: "Course name",
                                classes : "govuk-body-s"
                                },
                                {
                                text: "Degree type",
                                classes : "govuk-body-s"
                                },
                                {
                                text: "Degree class",
                                classes : "govuk-body-s"
                                },
                                {
                                text: "Start date",
                                classes : "govuk-body-s"
                                },
                                {
                                text: "Result date	",
                                classes : "govuk-body-s"
                                },
                                {
                                text: "University or college",
                                classes : "govuk-body-s"
                                }
                            ],
                            rows: [
                                [
                                {
                                    html: "<a href='#'>International Relations, Government and Society</a>",
                                    classes : "govuk-body-s"
                                },
                                {
                                    text: "Undergraduate",
                                    classes : "govuk-body-s"
                                },
                                {
                                    text: "Upper second",
                                    classes : "govuk-body-s"
                                },
                                {
                                    text: "	09, 2016",
                                    classes : "govuk-body-s"
                                },
                                {
                                    text: "	06, 2019",
                                    classes : "govuk-body-s"
                                },
                                {
                                    text: "London School of Economics and Political Science",
                                    classes : "govuk-body-s"
                                }
                                ]
                            ]
                            }) }}
                    <a href="add-degree" class="govuk-button apply-add govuk-!-margin-bottom-9">Add another degree</a>
            </div>
            <div class="apply-qualification">
                    {{ govukTable({
                        caption: "GCSEs, A levels and equivalents",
                        captionClasses : "govuk-heading-m govuk-!-margin-bottom-0",
                        firstCellIsHeader: false,
                        head: [

                            {
                            text: "Subject",
                            classes : "govuk-body-s"
                            },
                             {
                            text: "Qualification",
                            classes : "govuk-body-s"
                            },
                            {
                            text: "Grade",
                            classes : "govuk-body-s"
                            },

                            {
                            text: "Date",
                            classes : "govuk-body-s"
                            },

                            {
                            text: "Awarding organisation",
                            classes : "govuk-body-s"
                            }
                        ],
                        rows: [
                            [

                            {
                                html: "<a href='#'>English</a>",
                                classes : "govuk-body-s"
                            },
                                {
                                text: "GCSE",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "A*",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "09, 2018",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "	Edexcel",
                                classes : "govuk-body-s"
                            }
                            ],
                            [

                            {
                                html: "<a href='#'>Maths</a>",
                                classes : "govuk-body-s"
                            },
                                {
                                text: "GCSE",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "C",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "09, 2018",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "	Edexcel",
                                classes : "govuk-body-s"
                            }
                            ],
                            [

                            {
                                html: "<a href='#'>Science</a>",
                                classes : "govuk-body-s"
                            },
                                {
                                text: "GCSE",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "A*",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "09, 2018",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "	Edexcel",
                                classes : "govuk-body-s"
                            }
                            ],
                             [

                            {
                                html: "<a href='#'>Expressive Arts</a>",
                                classes : "govuk-body-s"
                            },
                                {
                                text: "Scottish Baccalaureate",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "1",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "09, 2018",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "	SQA",
                                classes : "govuk-body-s"
                            }
                            ],
                            [

                            {
                                html: "<a href='#'>English</a>",
                                classes : "govuk-body-s"
                            },
                                {
                                text: "A level",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "A*",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "09, 2018",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "	Edexcel",
                                classes : "govuk-body-s"
                            }
                            ],
                            [

                            {
                                html: "<a href='#'>Maths</a>",
                                classes : "govuk-body-s"
                            },
                                {
                                text: "BTEC",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "C",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "09, 2018",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "	Edexcel",
                                classes : "govuk-body-s"
                            }
                            ],
                            [

                            {
                                html: "<a href='#'>3-Dimensional Design and Architecture</a>",
                                classes : "govuk-body-s"
                            },
                                {
                                text: "BTEC Foundation Diploma in Art and Design",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "Distinction",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "09, 2018",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "	Edexcel",
                                classes : "govuk-body-s"
                            }
                            ]
                        ]
                        }) }}

            </div>
        </div>
    </div>
</div>
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-s">Would you like to add other qualifications?</h3>

        <p>Training providers will be interested in your other GCSEs and your A levels. You can also add:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>older qualifications </li>
            <li>international qualifications </li>
            <li>arts-based, vocational and professional qualifications </li>
        </ul>
        <a href="/education-and-qualifications/add-other-qualification" class="govuk-button apply-add govuk-!-margin-bottom-9">Add another qualification</a>
    </div>
</div>
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% set BA %}
         {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "highest-qualification-BA",
            name: "highest-qualification-BA",
            fieldset: {
                legend: {
                text: "please choose",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
                }
            },
            items: [
                {
                    value: "EU",
                    text: "EU"
                },
                {
                    value: "international",
                    text: "International"
                },
                {
                    value: "UK",
                    text: "UK"
                }
            ]
            }) }}
    {% endset %}
    {% set Masters %}
         {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "highest-qualification-masters",
            name: "highest-qualification-master",
            fieldset: {
                legend: {
                text: "please choose",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
                }
            },
            items: [
                {
                    value: "EU",
                    text: "EU"
                },
                {
                    value: "international",
                    text: "International"
                },
                {
                    value: "UK",
                    text: "UK"
                }
            ]
            }) }}
    {% endset %}
    {% set Phd %}
         {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "highest-qualification-phd",
            name: "highest-qualification-phd",
            fieldset: {
                legend: {
                text: "please choose",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
                }
            },
            items: [
                {
                    value: "EU",
                    text: "EU"
                },
                {
                    value: "international",
                    text: "International"
                },
                {
                    value: "UK",
                    text: "UK"
                }
            ]
            }) }}
    {% endset %}
    {% set PCoE %}
         {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "highest-qualification-PCoE",
            name: "highest-qualification-PCoE",
            fieldset: {
                legend: {
                text: "please choose",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
                }
            },
            items: [
                {
                    value: "international",
                    text: "International"
                },
                {
                    value: "UK",
                    text: "UK"
                }
            ]
            }) }}
    {% endset %}
    {% set PDiE %}
         {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "highest-qualification-PDiE",
            name: "highest-qualification-PDiE",
            fieldset: {
                legend: {
                text: "please choose",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
                }
            },
            items: [
                {
                    value: "international",
                    text: "International"
                },
                {
                    value: "scottish",
                    text: "Scottish"
                }
            ]
            }) }}
    {% endset %}

    {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "highest-qualification",
            name: "highest-qualification",
            fieldset: {
                legend: {
                text: "When you start teacher training, what will be your highest qualification?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
                }
            },
            items: [
                 {
                    value: "highest-BA",
                    text: "BA",
                    conditional : {
                        html : BA
                    }
                },
                {
                    value: "highest-BAhons",
                    text: " BA Hons (UK)"
                },
                {
                    value: "highest-Masters",
                    text: "Masters",
                    conditional : {
                        html : Masters
                    }
                },
                {
                    value: "highest-Phd",
                    text: "Phd",
                    conditional : {
                        html : Phd
                    }
                },
                {
                    value: "highest-PCoE",
                    text : "Postgraduate Certificate of Education",
                    conditional : {
                        html : PCoE
                    }
                },
                 {
                    value: "highest-SPGDoE",
                    text : "Scottish Professional Graduate Diploma of Education"
                },
                 {
                    value: "highest-UKPGCiE",
                    text : "UK Professional Graduate Certificate in Education"
                },
                 {
                    value: "highest-PDiE",
                    text : "Postgraduate Diploma in Education",
                    conditional : {
                        html : PDiE
                    }
                }
            ]
            }) }}
    </div>
</div>

{% endblock %}
