{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

    {{ govukBreadcrumbs({
        items: [
        {
          text: "Your application",
          href: "/your-application"
        },
        {
          text: "Eligibility and qualifications"
        },
        {
          text: "Your qualifications"
        }
        ]
    }) }}

{% endblock %}

{% block content %}

    {% set highestUK %}
         {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "highest-qualification-uk",
            name: "highest-qualification-uk",
            fieldset: {
                legend: {
                text: "Please select",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
                }
            },
            items: [
                {
                    value: "Degree (PhD)",
                    text: "Degree (PhD)"
                },
                {
                    value: "Degree (Masters)",
                    text: "Degree (Masters)"
                },
                {
                    value: "Degree (Bachelor - Honours)",
                    text: "Degree (Bachelor - Honours)"
                },
                {
                    value: "Degree (Bachelor - Ordinary)",
                    text: "Degree (Bachelor - Ordinary)"
                },
                {
                    value: "Postgraduate Certificate in Education",
                    text: "Postgraduate Certificate in Education"
                },
                {
                    value: "Professional Graduate Certificate in Education",
                    text: "Professional Graduate Certificate in Education"
                }
            ]
            }) }}
    {% endset %}
    {% set highestEU %}
        {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "highest-qualification-eu",
            name: "highest-qualification-eu",
            fieldset: {
                legend: {
                text: "Please select",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
                }
            },
            items: [
                {
                    value: "Degree (Bachelor)",
                    text: "Degree (Bachelor)"
                },
                {
                    value: "Degree (Masters)",
                    text: "Degree (Masters)"
                },
                {
                    value: "Degree (PhD)",
                    text: "Degree (PhD)"
                }
            ]
            }) }}
    {% endset %}
    {% set highestInternational %}
        {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "highest-qualification-international",
            name: "highest-qualification-international",
            fieldset: {
                legend: {
                text: "Please select",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
                }
            },
            items: [
                {
                    value: "Postgraduate Certificate of Education",
                    text: "Postgraduate Certificate of Education"
                },
                {
                    value: "Postgraduate Diploma in Education",
                    text: "Postgraduate Diploma in Education"
                }
            ]
            }) }}
    {% endset %}
    {% set highestInternationalNonEU %}
        {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "highest-qualification-international-non-eu",
            name: "highest-qualification-international-non-eu",
            fieldset: {
                legend: {
                text: "Please select",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
                }
            },
            items: [
                {
                    value: "Degree (Bachelor)",
                    text: "Degree (Bachelor)"
                },
                {
                    value: " Degree (Masters)",
                    text: " Degree (Masters)"
                },
                {
                    value: " Degree",
                    text: " Degree"
                },
                {
                    value: " Degree (PhD)",
                    text: " Degree (PhD)"
                }
            ]
            }) }}
    {% endset %}
    {% set highestScottish %}
            {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "highest-qualification-scottish",
            name: "highest-qualification-scottish",
            fieldset: {
                legend: {
                text: "Please select",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
                }
            },
            items: [
                {
                    value: " Professional Graduate Diploma of Education",
                    text: " Professional Graduate Diploma of Education"
                },
                {
                    value: "Postgraduate Diploma in Education",
                    text: "Postgraduate Diploma in Education"
                }
            ]
            }) }}
    {% endset %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
    <span class="govuk-caption-l">Eligibility and qualifications</span>
      Your qualifications
    </h1>

  </div>
  <div class="govuk-grid-column-one-third">
    {% include "includes/aside-logged-in.html" %}
  </div>
</div>
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>Now add the rest of your academic, vocational and professional qualifications, including any further degrees.</p>
    <p>Training providers will be interested in your other GCSEs and your A levels. You can also add:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>older qualifications </li>
        <li>international qualifications </li>
        <li>arts-based, vocational and professional qualifications </li>
    </ul>
        <p>If you’re still studying for maths, science or English GCSEs, or their equivalents, you can return to this section to enter your details later. </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
        <div class="apply-qualification-list">
            <div class="apply-qualification">
                    {{ govukTable({
                            caption : "Degree",
                            captionClasses : "govuk-heading-m govuk-!-margin-bottom-0",
                            firstCellIsHeader: false,
                            head: [
                                {
                                text: "Course name",
                                classes : "govuk-body-s"
                                },
                                {
                                text: "Degree type",
                                classes : "govuk-body-s"
                                },
                                {
                                text: "Degree class",
                                classes : "govuk-body-s"
                                },
                                {
                                text: "Start date",
                                classes : "govuk-body-s"
                                },
                                {
                                text: "Result date	",
                                classes : "govuk-body-s"
                                },
                                {
                                text: "University or college",
                                classes : "govuk-body-s"
                                }
                            ],
                            rows: [
                                [
                                {
                                    html: "<a href='#'>International Relations, Government and Society</a>",
                                    classes : "govuk-body-s"
                                },
                                {
                                    text: "Undergraduate",
                                    classes : "govuk-body-s"
                                },
                                {
                                    text: "Upper second",
                                    classes : "govuk-body-s"
                                },
                                {
                                    text: "	09, 2016",
                                    classes : "govuk-body-s"
                                },
                                {
                                    text: "	06, 2019",
                                    classes : "govuk-body-s"
                                },
                                {
                                    text: "London School of Economics and Political Science",
                                    classes : "govuk-body-s"
                                }
                                ]
                            ]
                            }) }}
                    <a href="add-degree" class="govuk-button apply-add govuk-!-margin-bottom-9">Add another degree</a>
            </div>
            <div class="apply-qualification">
                    {{ govukTable({
                        caption: "GCSEs, A levels and other qualifications",
                        captionClasses : "govuk-heading-m govuk-!-margin-bottom-0",
                        firstCellIsHeader: false,
                        head: [

                            {
                            text: "Subject",
                            classes : "govuk-body-s"
                            },
                             {
                            text: "Qualification",
                            classes : "govuk-body-s"
                            },
                            {
                            text: "Grade",
                            classes : "govuk-body-s"
                            },

                            {
                            text: "Date",
                            classes : "govuk-body-s"
                            },

                            {
                            text: "Awarding organisation",
                            classes : "govuk-body-s"
                            }
                        ],
                        rows: [
                            [

                            {
                                html: "<a href='#'>English</a>",
                                classes : "govuk-body-s"
                            },
                                {
                                text: "GCSE",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "A*",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "09, 2018",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "	Edexcel",
                                classes : "govuk-body-s"
                            }
                            ],
                            [

                            {
                                html: "<a href='#'>Maths</a>",
                                classes : "govuk-body-s"
                            },
                                {
                                text: "GCSE",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "C",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "09, 2018",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "	Edexcel",
                                classes : "govuk-body-s"
                            }
                            ],
                            [

                            {
                                html: "<a href='#'>Science</a>",
                                classes : "govuk-body-s"
                            },
                                {
                                text: "GCSE",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "A*",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "09, 2018",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "	Edexcel",
                                classes : "govuk-body-s"
                            }
                            ],
                             [

                            {
                                html: "<a href='#'>Expressive Arts</a>",
                                classes : "govuk-body-s"
                            },
                                {
                                text: "Scottish Baccalaureate",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "1",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "09, 2018",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "	SQA",
                                classes : "govuk-body-s"
                            }
                            ],
                            [

                            {
                                html: "<a href='#'>English</a>",
                                classes : "govuk-body-s"
                            },
                                {
                                text: "A level",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "A*",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "09, 2018",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "	Edexcel",
                                classes : "govuk-body-s"
                            }
                            ],
                            [

                            {
                                html: "<a href='#'>Maths</a>",
                                classes : "govuk-body-s"
                            },
                                {
                                text: "BTEC",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "C",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "09, 2018",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "	Edexcel",
                                classes : "govuk-body-s"
                            }
                            ],
                            [

                            {
                                html: "<a href='#'>3-Dimensional Design and Architecture</a>",
                                classes : "govuk-body-s"
                            },
                                {
                                text: "BTEC Foundation Diploma in Art and Design",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "Distinction",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "09, 2018",
                                classes : "govuk-body-s"
                            },
                            {
                                text: "	Edexcel",
                                classes : "govuk-body-s"
                            }
                            ]
                        ]
                        }) }}

            </div>
        </div>
    </div>
</div>
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <a href="/education-and-qualifications/add-other-qualification" class="govuk-button apply-add govuk-!-margin-bottom-9">Add another qualification</a>
    </div>
</div>
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "highest-qualification",
            name: "highest-qualification",
            fieldset: {
                legend: {
                text: "When you start teacher training, what will be your highest qualification?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
                }
            },
            items: [
                 {
                    value: "highest-uk",
                    text: "UK degree",
                    conditional : {
                        html : highestUK
                    }
                },
                {
                    value: "highest-eu",
                    text: "EU degree",
                    conditional : {
                        html : highestEU
                    }
                },
                {
                    value: "highest-international",
                    text: "International degree",
                    conditional : {
                        html : highestInternational
                    }
                },
                {
                    value: "highest-international-non-eu",
                    text: "International - non EU",
                    conditional : {
                        html : highestInternationalNonEU
                    }
                },
                {
                    value: "highest-scottish",
                    text : "Scottish",
                    conditional : {
                        html : highestScottish
                    }
                }
            ]
            }) }}
    </div>
</div>

{% endblock %}
