{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

    {{ govukBreadcrumbs({
        items: [
        {
          text: "Your application",
          href: "/your-application"
        },
        {
          text: "Eligibility and qualifications"
        },
        {
          text: "Add Science GCSE"
        }
        ]
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">
        Eligibility and qualifications (step 1 of 3)
      </span>
      Add Science GCSE equivalent
    </h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/education-and-qualifications/statutory-equivalent-maths" method="post" class="form">

                {% call govukFieldset({

                    }) %}

                    {{ govukDateInput({
                        id: "gcse-science-date",
                        namePrefix: "gcse-science-date",
                        fieldset: {
                            legend: {
                            text: "Date you sat the exam",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--m"
                            }
                        },
                        hint: {
                            text: "For example, 1 10 2013"
                        },
                        items: [

                                {
                                    name: "day",
                                    value: data['gcse-science-date-day'],
                                    classes: "govuk-input--width-2"
                                },
                                {
                                    name: "month",
                                    value: data['gcse-science-date-month'],
                                    classes: "govuk-input--width-2"
                                },
                                {
                                    name: "year",
                                    value: data['gcse-science-date-year'],
                                    classes: "govuk-input--width-4"
                                }
                            ]
                        }) }}


                    {{ govukInput({
                        label: {
                            text: "Examination board"
                        },
                            classes: "govuk-!-width-two-thirds",
                            id: "science-equivalent-examination-board",
                            name: "science-equivalent-examination-board"
                            }) }}

                         {{ govukInput({
                            label: {
                                text: "Result"
                            },
                            classes: "govuk-!-width-two-thirds",
                            id: "science-equivalent-result",
                            name: "science-equivalent-result"
                            }) }}
                    
                {% endcall %}

        {{ govukButton({
            text: "Continue to add Maths GCSE"
            }) }}
    </form>
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "includes/aside-logged-in.html" %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h3 class="govuk-heading-s">Guidance and links</h3>
    <p><a href="guidance">Guidance to support this service </a></p>
  </div>
</div>
</div>

{% endblock %}
