{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

    {{ govukBreadcrumbs({
        items: [
        {
          text: "Your application",
          href: "/your-application"
        },
        {
          text: "Eligibility and qualifications"
        },
        {
          text: "Add Maths GCSE"
        }
        ]
    }) }}

{% endblock %}

{% block content %}

    {% set alphabeticMathsGrades %}

        {{ govukInput({
            label: {
               html: '<span class="govuk-visually-hidden">Grade</span>'
            },
            classes: "govuk-input--width-2",
            id: "maths-gcse-result",
            name: "maths-gcse-result"
            }) }}
    {% endset %}

    {% set numericMathsGrades %}

        {{ govukInput({
            label: {
               html: '<span class="govuk-visually-hidden">Grade</span>'
            },
            classes: "govuk-input--width-2",
            id: "maths-gcse-result",
            name: "maths-gcse-result"
            }) }}

    {% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">
        Eligibility and qualifications
      </span>
      Add Maths GCSE
    </h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/education-and-qualifications/statutory-gcse-english" method="post" class="form">
                {% call govukFieldset({

                    }) %}
                    {{ govukCheckboxes({
                        idPrefix: "no-maths-gcse",
                        name: "no-maths-gcse",
                        items: [
                            {
                                value: "yes",
                                text: "I'm not ready to add this qualification"
                            }
                        ]
                    }) }}

                    {{ govukDateInput({
                        id: "gcse-maths-date",
                        namePrefix: "gcse-maths-date",
                        fieldset: {
                            legend: {
                            text: "Date of your result",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--m"
                            }
                        },
                        hint: {
                            text: "For example, 10 2013"
                        },
                        items: [
                                {
                                    name: "month",
                                    value: data['gcse-maths-date-month'],
                                    classes: "govuk-input--width-2"
                                },
                                {
                                    name: "year",
                                    value: data['gcse-maths-date-year'],
                                    classes: "govuk-input--width-4"
                                }
                            ]
                        }) }}

                        {{ govukRadios({
                            idPrefix: "maths-gcse-result",
                            name: "maths-gcse-result",
                            fieldset: {
                                legend: {
                                text: "Enter your grade",
                                isPageHeading: false,
                                classes: "govuk-fieldset__legend--m"
                                }
                            },
                            items: [
                                {
                                value: "alphabetic",
                                text: "Grade A* to G",
                                conditional: {
                                    html: alphabeticMathsGrades
                                }
                                },
                                {
                                value: "numeric",
                                text: "Grade 9 to 1",
                                conditional: {
                                    html: numericMathsGrades
                                }
                                }
                            ]
                            }) }}

                        {{ govukInput({
                        label: {
                            text: "Examination board"
                        },
                            classes: "govuk-!-width-two-thirds",
                            id: "maths-gcse-examination-board",
                            name: "maths-gcse-examination-board"
                            }) }}

                {% endcall %}

        {{ govukButton({
            text: "Save and continue"
            }) }}
    </form>
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "includes/aside-logged-in.html" %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h3 class="govuk-heading-s">Guidance and links</h3>
    <p><a href="guidance">Guidance to support this service </a></p>
  </div>
</div>
</div>

{% endblock %}
