{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

    {{ govukBreadcrumbs({
        items: [
        {
          text: "Your application",
          href: "/your-application"
        },
        {
          text: "Eligibility and qualifications"
        },
        {
          text: "Add GCSEs or their equivalent "
        }
        ]
    }) }}

{% endblock %}

{% block content %}

    {% set alphabeticEnglishGrades %}

        {{ govukInput({
            label: {
                text: ""
            },
            classes: "govuk-input--width-2",
            id: "english-gcse-result",
            name: "english-gcse-result"
            }) }}
    {% endset %}

    {% set numericEnglishGrades %}

        {{ govukInput({
            label: {
                text: ""
            },
            classes: "govuk-input--width-2",
            id: "english-gcse-result",
            name: "english-gcse-result"
            }) }}

    {% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">
        Eligibility and qualifications
      </span>
      Add GCSEs
    </h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/education-and-qualifications/statutory-gcse-science" method="post" class="form">


                <p>Start by adding the GCSEs you need to be eligible for teacher training:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>maths, grade 4 (previously grade C)</li>
                    <li>English, grade 4 (previously grade C)</li>
                    <li>If you want to teach primary, you should also add a Science GCSE, grade 4 (previously grade C)</li>
                </ul>

                {% call govukFieldset({
                    legend: {
                        text: "maths GCSE",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: false
                    }
                     }) %}

                     {{ govukDateInput({
                        id: "gcse-maths-date",
                        namePrefix: "gcse-maths-date",
                        fieldset: {
                            legend: {
                            text: "Date of your result",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--m"
                            }
                        },
                        hint: {
                            text: "For example, 1 10 2013"
                        },
                        items: [

                                {
                                    name: "day",
                                    value: data['gcse-maths-date-day'],
                                    classes: "govuk-input--width-2"
                                },
                                {
                                    name: "month",
                                    value: data['gcse-maths-date-month'],
                                    classes: "govuk-input--width-2"
                                },
                                {
                                    name: "year",
                                    value: data['gcse-maths-date-year'],
                                    classes: "govuk-input--width-4"
                                }
                            ]
                        }) }}


                    {{ govukInput({
                        label: {
                            text: "Examination board"
                        },
                            classes: "govuk-!-width-two-thirds",
                            id: "maths-gcse-examination-board",
                            name: "maths-gcse-examination-board"
                            }) }}

                    {{ govukInput({
                        label: {
                            text: "Result"
                        },
                        classes: "govuk-!-width-one-third",
                        id: "maths-gcse-result",
                        name: "maths-gcse-result"
                        }) }}



                {% endcall %}

                {% call govukFieldset({
                    legend: {
                        text: "English GCSE",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: false
                    }

                    }) %}

                    {{ govukDateInput({
                        id: "gcse-english-date",
                        namePrefix: "gcse-english-date",
                        fieldset: {
                            legend: {
                            text: "Date of your result",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--m"
                            }
                        },
                        hint: {
                            text: "For example, 1 10 2013"
                        },
                        items: [

                                {
                                    name: "day",
                                    value: data['gcse-english-date-day'],
                                    classes: "govuk-input--width-2"
                                },
                                {
                                    name: "month",
                                    value: data['gcse-english-date-month'],
                                    classes: "govuk-input--width-2"
                                },
                                {
                                    name: "year",
                                    value: data['gcse-english-date-year'],
                                    classes: "govuk-input--width-4"
                                }
                            ]
                        }) }}


                    {{ govukInput({
                        label: {
                            text: "Examination board"
                        },
                            classes: "govuk-!-width-two-thirds",
                            id: "english-gcse-examination-board",
                            name: "english-gcse-examination-board"
                            }) }}


                    {{ govukInput({
                        label: {
                            text: "Result"
                        },
                        classes: "govuk-!-width-one-third",
                        id: "english-gcse-result",
                        name: "english-gcse-result"
                        }) }}

                        {{ govukRadios({
                            idPrefix: "english-gcse-result",
                            name: "english-gcse-result",
                            fieldset: {
                                legend: {
                                text: "When did you receive your result?",
                                isPageHeading: false,
                                classes: "govuk-fieldset__legend--m"
                                }
                            },
                            items: [
                                {
                                value: "alphabetic",
                                text: "Before 2017",
                                conditional: {
                                    html: alphabeticEnglishGrades
                                }
                                },
                                {
                                value: "numeric",
                                text: "After 2017",
                                conditional: {
                                    html: numericEnglishGrades
                                }
                                }
                            ]
                            }) }}

                {% endcall %}

                {% call govukFieldset({
                    legend: {
                        text: "Science GCSE",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: false
                    }

                    }) %}

                    {{ govukDateInput({
                        id: "gcse-science-date",
                        namePrefix: "gcse-science-date",
                        fieldset: {
                            legend: {
                            text: "Date of your result",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--m"
                            }
                        },
                        hint: {
                            text: "For example, 1 10 2013"
                        },
                        items: [

                                {
                                    name: "day",
                                    value: data['gcse-science-date-day'],
                                    classes: "govuk-input--width-2"
                                },
                                {
                                    name: "month",
                                    value: data['gcse-science-date-month'],
                                    classes: "govuk-input--width-2"
                                },
                                {
                                    name: "year",
                                    value: data['gcse-science-date-year'],
                                    classes: "govuk-input--width-4"
                                }
                            ]
                        }) }}


                    {{ govukInput({
                        label: {
                            text: "Examination board"
                        },
                            classes: "govuk-!-width-two-thirds",
                            id: "science-gcse-examination-board",
                            name: "science-gcse-examination-board"
                            }) }}

                    {{ govukInput({
                        label: {
                            text: "Result"
                        },
                        classes: "govuk-!-width-one-third",
                        id: "science-gcse-result",
                        name: "science-gcse-result"
                        }) }}

                {% endcall %}


        {{ govukButton({
            text: "Continue to GCSE or equivalent"
            }) }}
    </form>
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "includes/aside-logged-in.html" %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h3 class="govuk-heading-s">Guidance and links</h3>
    <p><a href="guidance">Guidance to support this service </a></p>
  </div>
</div>
</div>

{% endblock %}
