{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

    {{ govukBreadcrumbs({
        items: [
        {
          text: "Your application",
          href: "/your-application"
        },
        {
          text: "Contact details"
        }
        ]
    }) }}

{% endblock %}

{% block content %}

{% set addressFields %}

    {% include "includes/address-fields.html" %}

{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">
        Personal details
      </span>
      What is your address?
    </h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="correspondence-details" method="post" class="form">

    {% call govukFieldset({
                    classes : 'govuk-!-width-two-thirds'
                    }) %}

                         {% include "includes/address-fields.html" %}

                        {{ govukRadios({
                            classes: "govuk-radios",
                            idPrefix: "correspondence_address",
                            name: "correspondence_address",
                            fieldset: {
                                legend: {
                                text: "Would you prefer letters to be sent to a different address?",
                                isPageHeading: false,
                                classes: "govuk-fieldset__legend--s"
                                }
                            },
                            items: [
                                {
                                value: "yes",
                                text: "Yes",
                                checked: checked('correspondence_address', 'yes'),
                                conditional : {
                                    html : addressFields
                                }
                                },
                                {
                                value: "no",
                                text: "No",
                                selected: true
                                }
                            ]
                            }) }}

                        {{ govukInput({
                            label: {
                                text: "Email address"
                            },
                            hint : {
                                text: "Enter the email address you'd like to be used to contact you"
                            },
                            id: "mobile_number",
                            name: "mobile_number"
                            }) }}

                        {{ govukInput({
                            label: {
                                text: "Mobile phone number"
                            },
                            id: "mobile_number",
                            name: "mobile_number",
                            classes: "govuk-input--width-10"
                            }) }}

                        {{ govukInput({
                            label: {
                                text: "Alternative phone number"
                            },
                            id: "mobile_number",
                            name: "mobile_number",
                            classes: "govuk-input--width-10"
                            }) }}
                {% endcall %}

            {{ govukButton({
                text: "Save and continue"
                }) }}
    </form>
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "includes/aside-logged-in.html" %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h3 class="govuk-heading-s">Guidance and links</h3>
    <p><a href="guidance">Guidance to support this service </a></p>
  </div>
</div>
</div>

{% endblock %}
