{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

    {{ govukBreadcrumbs({
        items: [
        {
          text: "Your application",
          href: "/your-application"
        },
        {
          text: "Contact details"
        }
        ]
    }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">
        Personal details
      </span>
      What is your home address?
    </h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="correspondence-details" method="post" class="form">

    {% call govukFieldset({
                    classes : 'govuk-!-width-two-thirds'
                    }) %}





                        {{ govukInput({
                            label: {
                                text: "Building and street"
                            },
                            id: "address_line_1",
                            name: "address_line_1"
                            }) }}

                        {{ govukInput({
                            label: {
                                text: "Address line 2"
                            },
                            id: "address_line_2",
                            name: "address_line_2"
                            }) }}

                        {{ govukInput({
                            label: {
                                text: "Town or city"
                            },
                            id: "address_line_3",
                            name: "address_line_3"
                            }) }}

                         {{ govukInput({
                            label: {
                                text: "Postcode"
                            },
                            id: "postcode",
                            name: "postcode",
                            classes: "govuk-input--width-5"
                            }) }}

                        {{ govukCheckboxes({
                                idPrefix: "correspondence_address",
                                name: "correspondence_address",
                                fieldset: {
                                    legend: {
                                    text: "Would you prefer letters to be sent to a different address?",
                                    isPageHeading: false,
                                    classes: "govuk-fieldset__legend--s"
                                    }
                                },
                                items: [
                                    {
                                    value: "different_Address",
                                    text: "Yes"
                                    }
                                ]
                                }) }}

                        {{ govukInput({
                            label: {
                                text: "Email address"
                            },
                            hint : {
                                text: "This will be used to contact you about your application"
                            },
                            id: "mobile_number",
                            name: "mobile_number"
                            }) }}

                        {{ govukInput({
                            label: {
                                text: "Mobile phone number"
                            },
                            id: "mobile_number",
                            name: "mobile_number",
                            classes: "govuk-input--width-10"
                            }) }}

                        {{ govukInput({
                            label: {
                                text: "Alternative phone number"
                            },
                            id: "mobile_number",
                            name: "mobile_number",
                            classes: "govuk-input--width-10"
                            }) }}





                {% endcall %}

            {{ govukButton({
                text: "Save and continue"
                }) }}
    </form>
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "includes/aside-logged-in.html" %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h3 class="govuk-heading-s">Why we need these details</h3>
    <p class="govuk-body-s">We need these details to ensure your application is complete</p>
    <h3 class="govuk-heading-s">Guidance and links</h3>
    <p><a href="guidance">Guidance to support this service </a></p>
  </div>
</div>
</div>

{% endblock %}
