{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

    {{ govukBreadcrumbs({
        items: [
        {
          text: "Your application",
          href: "/your-application"
        },
        {
          text: "Personal details"
        },
        {
          text: "Contact details"
        }
        ]
    }) }}

{% endblock %}

{% block content %}

{% set enterUKdate %}
  {{ govukDateInput({
    id: "date_enter_uk",
    namePrefix: "date_enter_uk",
    fieldset: {
        legend: {
        text: "What date did you enter the UK?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--s"
        }
    },
    hint: {
        text: "For example, 31 3 1980"
    },
    items: [
            {
                name: "day",
                value: data['dob-day'],
                classes: "govuk-input--width-2"
            },
            {
                name: "month",
                value: data['dob-month'],
                classes: "govuk-input--width-2"
            },
            {
                name: "year",
                value: data['dob-year'],
                classes: "govuk-input--width-4"
            }
        ]
    }) }}
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">
        Personal details
      </span>
      About you
    </h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/contact-details" method="post" class="form">

    {{ govukInsetText({
      text: "You can update your details if they are incorrect"
    }) }}
    
            {% call govukFieldset({
                    classes : 'govuk-!-width-two-thirds'
                    }) %}
                      
                      
{{ govukInput({
    label: {
        text: "First names"
    },
    id: "first_name",
    name: "first_name",
    value: data["first_name"]
    }) }}

{{ govukInput({
    label: {
        text: "Surname"
    },
    id: "last_name",
    name: "last_name",
    value: data["last_name"]
    }) }}


    {{ govukSelect({
                            id: "title",
                            name: "title",
                            label: {
                                text: "Title"
                            },
                            value: data["title"],
                            items: [
                                {
                                value: "Mr",
                                text: "Mr"
                                },
                                {
                                value: "Mrs",
                                text: "Mrs",
                                selected: true
                                },
                                {
                                value: "Miss",
                                text: "Miss"
                                },
                                {
                                value: "Ms",
                                text: "Ms"
                                },
                                {
                                value: "Mx",
                                text: "Mx"
                                }
                            ]
                            }) }}


                      

                        {{ govukSelect({
                              id: "gender",
                              name: "gender",
                              label: {
                                  text: "Gender"
                              },
                              value: data["gender"],
                              items: [
                                  {
                                  value: "male",
                                  text: "Male"
                                  },
                                  {
                                  value: "female",
                                  text: "Female",
                                  selected: true
                                  }
                              ]
                          }) }}
                          {{ govukDateInput({
    id: "dob",
    namePrefix: "dob",
    fieldset: {
        legend: {
        text: "Date of birth",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
        }
    },
    hint: {
        text: "For example, 31 3 1980"
    },
    items: [
            {
                name: "day",
                value: data['dob-day'],
                classes: "govuk-input--width-2"
            },
            {
                name: "month",
                value: data['dob-month'],
                classes: "govuk-input--width-2"
            },
            {
                name: "year",
                value: data['dob-year'],
                classes: "govuk-input--width-4"
            }
        ]
    }) }}
  
  {% endcall %}
                        
               {% call govukFieldset({
  legend: {
    text: "Nationality and country of birth",
    classes: "govuk-fieldset__legend--m",
    isPageHeading: true
  }
}) %}         
                        
                        {{ govukInput({
                            label: {
                                text: "What is your nationality?"
                            },
                            hint : {
                              text : "Your nationality appears in your passport"
                            },
                            id: "nationality",
                            name: "nationality",
                            value: data["nationality"],
                            classes: "govuk-input--width-10"
                          }) }}

                          {{ govukRadios({
                              classes: "govuk-radios",
                              idPrefix: "changed-name",
                              name: "changed-name",
                              fieldset: {
                                legend: {
                                  text: "What is your country of birth?",
                                  isPageHeading: false,
                                  classes: "govuk-fieldset__legend--s"
                                }
                              },
                              items: [
                                {
                                  value: "yes",
                                  text: "UK"
                                },
                                {
                                  value: "no",
                                  text: "Non UK country",
                                  conditional : {
                                    html : enterUKdate
                                  }
                                }
                              ]
                            }) }}


                {% endcall %}
            

            {{ govukButton({
                text: "Save and continue"
                }) }}
    </form>
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "includes/aside-logged-in.html" %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h3 class="govuk-heading-s">Guidance and links</h3>
    <p><a href="guidance">Guidance to support this service </a></p>
  </div>
</div>
</div>

{% endblock %}
