{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

    {{ govukBreadcrumbs({
        items: [
        {
          text: "Your application",
          href: "/your-application"
        },
        {
          text: "Personal details"
        },
        {
          text: "Your details"
        }
        ]
    }) }}
    
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">
        Personal details
      </span>
      Your details
    </h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="contact-details" method="post" class="form">
            {% include "../includes/personal-details.html" %}

            {{ govukButton({
                text: "Save and continue"
                }) }}
    </form>
  </div>
  <div class="govuk-grid-column-one-third">
    {% include "includes/aside-logged-in.html" %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h3 class="govuk-heading-s">Why we need these details</h3>
    <p class="govuk-body-s">We need these details to ensure your application is complete</p>
    <h3 class="govuk-heading-s">Guidance and links</h3>
    <p><a href="guidance">Guidance to support this service </a></p>
  </div>
</div>
</div>

{% endblock %}