{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">
        {{ serviceName }}
      </span>
      Application reference number
    </h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/your-application" method="post" class="form">
                <div class="apply-notice">
                    <h2>
                        <span>Your application reference number</span>
                        {{  data.uid }}
                    </h2>
                </div>
                <p>You will need your application reference number if you need to return to the application or refer to it when contacting somebody else</p>

                {{ govukButton({
                    text: "Continue to application",
                    classes: "govuk-button"
                }) }}
            </form>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="journey-widget">
        <h3 class="govuk-heading-s">Relevant guidance here</h3>
        <p>this information is required to setup your initial account</p>
    </div>
  </div>
</div>
</div>

{% endblock %}