{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

   {{ govukBackLink({
      text: "Back",
      href: "/register"
    }) }}
    
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">
         Create an account (step 2 of 2)
      </span>
        Your details
    </h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="confirmation" method="post" class="form">
    
    
    {% call govukFieldset({
                    classes : 'govuk-!-width-two-thirds'
                    }) %}
                        {{ govukSelect({
                            id: "title",
                            name: "title",
                            label: {
                                text: "Title"
                            },
                            value: data["title"],
                            items: [
                                {
                                value: "Mr",
                                text: "Mr"
                                },
                                {
                                value: "Mrs",
                                text: "Mrs",
                                selected: true
                                },
                                {
                                value: "Miss",
                                text: "Miss"
                                },
                                {
                                value: "Ms",
                                text: "Ms"
                                }
                            ]
                            }) }}

                        {{ govukInput({
                            label: {
                                text: "First names"
                            },
                            id: "first_name",
                            name: "first_name",
                            value: data["first_name"]
                            }) }}

                        {{ govukInput({
                            label: {
                                text: "Surname"
                            },
                            id: "last_name",
                            name: "last_name",
                            value: data["last_name"]
                            }) }}

                         {{ govukDateInput({
                            id: "dob",
                            namePrefix: "dob",
                            fieldset: {
                                legend: {
                                text: "What is your date of birth?",
                                isPageHeading: true,
                                classes: "govuk-fieldset__legend--m"
                                }
                            },
                            hint: {
                                text: "For example, 31 3 1980"
                            },
                            items: [
                                    {
                                        name: "day",
                                        value: data['dob-day'],
                                        classes: "govuk-input--width-2"
                                    },
                                    {
                                        name: "month",
                                        value: data['dob-month'],
                                        classes: "govuk-input--width-2"
                                    },
                                    {
                                        name: "year",
                                        value: data['dob-year'],
                                        classes: "govuk-input--width-4"
                                    }
                                ]
                            }) }}
                
                
                {% endcall %}

            {{ govukButton({
                text: "Create account"
                }) }}
    </form>
  </div>
  {# <div class="govuk-grid-column-one-third">
    <div class="journey-widget">
        <h3 class="govuk-heading-s">Relevant guidance here</h3>
        <p>this information is required to setup your initial account</p>
    </div>
  </div> #}
</div>
</div>

{% endblock %}