{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <p>Use this service to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>complete your teacher training profile</li>
    <li>apply to training providers</li>
    <li>get guidance about the application process</li>
  </ul>

  <p>To apply for teacher training, you need to create an account.</p>

    {{ govukButton({
        text: "Create an account",
        href: "/register",
        classes: "govuk-button--start"
      }) }}

      {{ govukInsetText({
        html: "If you have already created an account. Please <a href='#'>sign in</a>"
      }) }}

    <h3 class="govuk-heading-l">Before you start</h3>
    <p>To be eligible for teacher training, you need a:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>UK degree (or international equivalent)</li>
      <li>GCSE in Maths, grade 4 (previously grade C)</li>
      <li>GCSE in English, grade 4 (previously grade C)</li>

    </ul>

    <p>To teach at primary school, you also need a minimum grade 4 GCSE in science.<p>
        <p>You can learn more about eligibility at <a href="https://getintoteaching.education.gov.uk/" class="govuk-link">Get
            into Teaching.</a></p>

        <h3 class="govuk-heading-m">I don’t have GCSEs in maths and English</h3>
        <p>You can also be accepted onto a course if you have older qualifications like O levels or international
          qualifications equivalent to GCSEs.</p>

        {{ govukInsetText({
            text: "If you don’t have the right GCSE or its equivalent yet, you can still apply. Your training provider can
            help you get the right qualification in time for your course."
          }) }}

        <h3 class="govuk-heading-m">I studied for my qualifications outside the UK</h3>

        <p>If you studied for your degree or GCSE equivalents overseas, have you checked your qualifications are
          recognised in the UK?</p>
        <p>If not, please visit <a href="https://uknaric.org/">UK NARIC</a> for help validating your qualifications.
          You’ll need a statement of comparability to show to your training provider.</p>

  </div>
  <div class="govuk-grid-column-one-third">
    {% include "includes/journey.html" %}
  </div>
</div>
</div>

{% endblock %}