
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apply for postgraduate teacher training
      </h1>
      
      <h3 class="govuk-heading-m"><a href="/home/a">Route A</a></h3>
      <p>people arriving from either the find service, or directly from a provider</p>

      <h3 class="govuk-heading-m"><a href="/home/b">Route B</h3>
      <p>people arriving directly to the service with no codes etc&hellip;</p>
     {% from "radios/macro.njk" import govukRadios %}
    </div>
</div>

{% endblock %}
