{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <p>Use this service to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>complete your teacher training profile</li>
    <li>apply to training providers</li>
    <li>get guidance about the application process</li>
  </ul>

  <p>To apply for teacher training, you need to create an account.</p>

    {{ govukButton({
        text: "Create an account",
        href: "/register",
        classes: "govuk-button--start"
      }) }}

      {{ govukInsetText({
        html: "If you have already created an account. Please <a href='#'>sign in</a>"
      }) }}

    <h2 class="govuk-heading-l">Before you start</h2>
    <h3 class="govuk-heading-m">Primary and secondary education teaching training courses</h3>
    <p>To teach in a state school in England, you need to follow an initial teacher training (ITT) programme leading to qualified teacher status (QTS).</p>
    <h4 class="govuk-heading-s">To qualify for postgraduate teacher training, you’ll need:</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>a degree</li>
      <li>grade 4 (C) or above in English and maths GCSEs</li>
      <li>grade 4 (C) or above in GCSE science if you want to teach early years or primary (3- to 11-years old)</li>
    </ul>
<p>If you do not have these GCSEs, you must prove you have the equivalent level of knowledge. Individual training providers will set specific requirements for their courses - they may ask for a particular class of degree or GCSE grades.</p>

<h4 class="govuk-heading-s">Before you start a teacher training course, you’ll also need:</h4>
<ul class="govuk-list govuk-list--bullet">
  <li>a pass in numeracy and literacy professional skills tests</li>
  <li>an enhanced Disclosure and Barring Service (DBS) certificate, which your training provider will usually apply for on your behalf</li>
  <li>to confirm you have the health and physical capacity to start training</li>
</ul>
<p>Some courses offer a postgraduate certificate in education (PGCE). This is an enhanced qualification that is internationally recognised but not mandatory for teaching in England.</p>

<h3 class="govuk-heading-m">Further education (FE) teacher training courses</h3>

<p>To teach FE, you do not need QTS or any specific teaching qualification. However, the FE sector recognises, and prefers applicants to have studied for, qualifications such as a PGCE or PGDE (postgraduate diploma in education).</p>
<h4 class="govuk-heading-s">To qualify for postgraduate FE teacher training you’ll usually need:</h4>
<ul class="govuk-list govuk-list--bullet">
<li>a degree, or relevant vocational or technical qualification (depending on the subject you’d like to teach)</li>
<li>grade 4 (C) or above in English and maths GCSEs (or an equivalent)</li>
</ul>
<p>Before you start a FE teacher training course, you’ll need a <a href="https://www.gov.uk/request-copy-criminal-record">Disclosure and Barring Service</a> (DBS) certificate if you’re teaching students under 18.</p>
<h3 class="govuk-heading-m">Get advice and support</h3>

<p>Register with <a href="https://getintoteaching.education.gov.uk/">Get into Teaching</a> for:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>access to teaching information events</li>
  <li>help arranging school experience</li>
  <li>information and guidance as you go through your application</li>
  <li>support from experienced teaching professionals</li>
  <li>one-to-one advice by phone</li>
</ul>

<h3 class="govuk-heading-m">Teacher training funding</h3>

<p>To support you while you train, you may be eligible for:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>a salary</li>
  <li>a tuition fee and maintenance loan</li>
  <li>a tax free bursary or scholarship</li>
  <li>additional financial support if you’re a parent or have a disability</li>
</ul>
<p>Visit Get into Teaching to find out about <a href="https://getintoteaching.education.gov.uk/funding-my-teacher-training/bursaries-and-scholarships-for-teacher-training">funding for postgraduate trainee teachers</a> and bursaries for <a href="https://getintoteaching.education.gov.uk/explore-my-options/further-education-teacher-training/bursaries">further education trainees.<a/></p>

  </div>
  <div class="govuk-grid-column-one-third">
    {% include "includes/journey.html" %}
  </div>
</div>
</div>

{% endblock %}